.menu{
	position: fixed;
	    top: 50px;
	    left: 100px;
	    background-color: Linen;
	    border: 1px solid Black;
	    font-size: 20pt;
	    z-index: 100;
	    box-shadow: grey 1px 1px 3px;
}

.menubtn{
	float: left;
	margin: 10px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	border: 2px solid Black;
	border-radius: 5px;
	background-color: dimgray;
	color: lightgoldenrodyellow;
}